<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="css/todo.css">
  <title>ToDo</title>
</head>

<body>
  <!-- Header -->
  <nav class="header teal lighten-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">TODO LIST</a>
    </div>
  </nav>

  <div class="container">
    <!-- Switch EventStore -->
    <div class="row">
      <div class="switch">
        <label>
          <input type="checkbox" id="eventstore">
          <span class="lever"></span>
          EventStore
        </label>
      </div>
    </div>

    <div class="row">
      <!-- Input ToDo-->
      <form class="col s12 m6">
        <div class="input-field">
          <input id="newTodo" type="text" placeholder="Text...">
          <label for="newTodo"></label>
          <a id="addTodo" class="waves-effect waves-light btn">Add</a>
        </div>
      </form>

      <!-- ToDo LIst -->
      <div id="list" class="col s12 m6">
        <ul class="collection">
          <li v-for="todo in todolist" class="collection-item">
            <!-- Toggle DONE -->
            <span v-bind:for="todo.id">
              <input type="checkbox" v-bind:id="todo.id" v-model="todo.done" v-on:click="toggleDone" />
              <label v-bind:for="todo.id" v-bind:class="{done: todo.done}">{{todo.title}}</label>
            </span>
            <!-- Delete ICON -->
            <i class="material-icons del" v-bind:data-id="todo.id" v-on:click="deleteTodo">delete</i>
          </li>
        </ul>
      </div>
    </div>

    <!-- Time Machine -->
    <div id="timemachine" style="display:none">
      <span class="chip">
        Time Machine! (0 ~
        <span id="maxEventNumber"></span>)
      </span>
      <div class="input-field">
        <input class="validate" type="number" id="eventNumber" placeholder="Event Number">
        <label for="eventNumber" data-error="Input is not a number!"></label>
      </div>
      <a id="goBack" class="waves-effect waves-light btn">Go Back!</a>
    </div>

  </div>

  <script src=" https://unpkg.com/vue" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="js/util.js" charset="utf-8"></script>
  <script src="js/eventstore.js" charset="utf-8"></script>
  <script src="js/todo.js" charset="utf-8"></script>
</body>

</html>